Flask==3.0.0
opencv-python-headless==4.10.0.84
tensorflow==2.20.0
numpy==2.2.1
Pillow==11.0.0
Werkzeug==3.0.1
gdown==5.2.0
gunicorn==23.0.0
requests
torch
transformers
datasets
evaluate
rouge_score
scikit-learn
pandas
tqdm
