Flask==3.0.0
opencv-python-headless==4.8.1.78
tensorflow==2.20.0
numpy==1.26.4
Pillow==10.0.1
Werkzeug==3.0.1
gdown==4.7.1
gunicorn==21.2.0
requests
torch
transformers
datasets
evaluate
rouge_score
scikit-learn
pandas
tqdm
